layer_0.png
layer_1.png
layer_2.png
number.png
test.py
__pycache__/_01_data_loader.cpython-39.pyc
__pycache__/_02_data_preprocess.cpython-38.pyc
__pycache__/_02_data_preprocess.cpython-39.pyc
__pycache__/_03_model_training.cpython-39.pyc
__pycache__/_04_data_saver.cpython-39.pyc
__pycache__/_05_model_plot.cpython-38.pyc
__pycache__/_05_model_plot.cpython-39.pyc
__pycache__/_02_data_preprocess.cpython-38.pyc
__pycache__/_05_model_plot.cpython-38.pyc
bestesModelladen.py
bestesModelladen.py
bestesModelladen.py
cnn_Vorlesung.ipynb
test.py
test.py
